img {
  width: 30%;
  height: 30%;
}

.flashy {
  color: red;
  font-style: italic;
}

li.best {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-align: center;
}